.logo{
    width: 209px;
    height: 48px;
}
.box{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.button{
    display: flex;
    flex-direction: row;
}

.img{
    display: flex;
    align-items: center;
    margin: 0 20px;
}

.img img{
    width: 36px;
    height: 36px;
    border-radius: 50%;
}


