@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');

.app {
    background-color: #f9f9fa;
    min-height: 100vh;

}

.init {
    position: fixed;
    top: 30%;
    text-align: center;
    width: 100%;
}

.appContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 64px);

}